@charset 'gbk';

*{ margin:0; padding:0;font-family:'Microsoft yahei';}
a{ text-decoration:none;}
a img{ display:block; border:none;}
li{ list-style:none;}


@media all and (max-width:320px){
	#sale{ height:234px !important;}
	#sale .s-main{ height:194px !important;}
}
@media all and (min-width:321px){
	#sale{ height:250px !important;}
	#sale .s-main{ height:210px !important;}
}

body{
	min-width:320px;
	max-width:540px;
	margin:0 auto;
	font-size:14px;
	position:relative;
	background:rgb(238,238,238);
}

.bSize{
	background-size:104px 327px;/*��������һ������ʽ*/
}
.img.icon{
	background-image:url(../img/icon.png); /*����icon����ͼ*/
}

/*header*/
	#header{
		height:44px;
		background:rgb(246,246,246);
		position:relative;
		box-sizing:border-box;
		padding-right:44px;
		overflow:hidden;
	}
	#header .h-login{
		width:44px;
		height:44px;
		position:absolute;
		top:0;
		right:0;
		overflow:hidden;
	}
	#header .h-login a{
		display:block;
		color:#099fde;
	}
	#header .h-login a span:nth-child(1){
		display:block;
		width:25px;
		height:25px;
		margin:2px auto 0;
		background-position:-59px -193px;
	}
	#header .h-login a span:nth-child(2){
		font-size:12px;
		display:block;
		text-align:center;
	}
	#header .h-search{
		height:24px;
		padding:10px;
	}
	#header .h-search input{
		width:100%;
		height:22px;
		border:1px solid #666;
		border-radius:5px;
		background:rgb(246,246,246);
		outline:none;
		font-size:12px;
		text-indent:22px;
		color:#666;
	}
	#header .h-search .img{
		display:block;
		width:15px;
		height:18px;
		position:absolute;
		top:12px;
		left:15px;
		background-position:-59px -276px;
	}

/*banner*/
	#banner{
		overflow:hidden;
		position:relative;
	}
	#banner .b-img{
		position:relative;
	}
	#banner .b-img ul{
		width:1000%;
		overflow:hidden;
		margin-left:-100%;
	}
	#banner .b-img ul.tran{
		transition:margin-left .3s;
	}
	#banner .b-img ul li{
		width:10%;
		float:left;
	}
	#banner .b-img ul li a{
		display:block;
	}
	#banner .b-tab{
		width:160px;
		height:4px;
		position:absolute;
		bottom:5px;
		left:50%;
		margin-left:-78px
	}
	#banner .b-tab ul li{
		width:20px;
		height:4px;
		border-radius:2px;
		float:left;
		margin:0 3px;
		background:rgba(255,255,255,0.5);
	}
	#banner .b-tab ul li.on{
		background:rgba(255,255,255,1);
	}

/*nav*/
	#nav{
		margin:5px 0;
	}
	#nav .n-list{
		height:90px;
		margin-bottom:3px;
		border-radius:5px;
		overflow:hidden;
	}
	#nav .n-list li.n-l-img{
		height:90px;
	}
	#nav .n-list li{
		width:33.3%;
		border-right:1px solid #fff;
		box-sizing:border-box;
		float:left;
		height:45px;
	}
	#nav .n-list li.n-l-bb{
		border-bottom:1px solid #fff;
	}
	#nav .n-list li a{
		display:block;
		width:100%;
		height:100%;
		text-align:center;
		color:#fff;
		line-height:45px;
	}
	#nav .n-list:nth-child(1) li a{
		background:rgb(255,105,122);
	}
	#nav .n-list:nth-child(2) li a{
		background:rgb(61,152,255);
	}
	#nav .n-list:nth-child(3) li a{
		background:rgb(68,197,34);
	}
	#nav .n-list:nth-child(4) li a{
		background:rgb(252,151,32);
	}
	#nav .n-list li.n-l-img span{
		display:block;
		padding-top:10px;
		line-height:20px;
	}
	#nav .n-list li.n-l-img i{
		margin: 6px auto 0;
		width: 43px;
		height: 43px;
		display: block;
		background-size: 104px auto;
	}
	#nav .n-list:nth-child(1) li.n-l-img i{
		background-position: 0 -124px;
	}
	#nav .n-list:nth-child(2) li.n-l-img i{
		background-position:0 -284px;
	}
	#nav .n-list:nth-child(3) li.n-l-img i{
		background-position:0 -180px;
	}

/*subNav*/
	#subNav{
		margin:5px 0;
	}
	#subNav li{
		height:60px;
		margin-bottom:1px;
		display:flex;
	}
	#subNav li a{
		display:block;
		height:100%;
		background:#fff;
		flex:1;
		padding-top:10px;
		box-sizing:border-box;
		margin-right:1px;
		text-align:center;
		color:#333;
		font-size:12px;
	}
	#subNav li a.last{
		margin-right:0px;
	}
	#subNav li a i{
		display: block;
		width: 20px;
		height: 20px;
		margin: 0 auto 5px;
		background-size: 20px auto;
		background-image:url(../img/nav.png);
	}
	#subNav li:nth-child(1) a:nth-child(1) i{
		background-position:0 -80px;
	}
	#subNav li:nth-child(1) a:nth-child(2) i{
		background-position:0 -100px;
	}
	#subNav li:nth-child(1) a:nth-child(3) i{
		background-position:0 -120px;
	}
	#subNav li:nth-child(1) a:nth-child(4) i{
		background-position:0 -140px;
	}
	#subNav li:nth-child(2) a:nth-child(1) i{
		background-position:0 -160px;
	}
	#subNav li:nth-child(2) a:nth-child(2) i{
		background-position:0 -180px;
	}
	#subNav li:nth-child(2) a:nth-child(3) i{
		background-position:0 -200px;
	}
	#subNav li:nth-child(2) a:nth-child(4) i{
		background-position:0 -220px;
	}
	#subNav li:nth-child(3) a:nth-child(1) i{
		background-position:0 -0px;
	}
	#subNav li:nth-child(3) a:nth-child(2) i{
		background-position:0 -20px;
	}
	#subNav li:nth-child(3) a:nth-child(3) i{
		background-position:0 -40px;
	}
	#subNav li:nth-child(3) a:nth-child(4) i{
		background-position:0 -60px;
	}

/*sale*/
	#sale,#hot{
		height:250px;
		margin:5px 0;
		background:#fff;
		padding-bottom:10px;
	}
	#sale h2,#hot h2{
		height:40px;
		width:100%;
	}
	#sale h2 p,#hot h2 p{
		float:left;
		margin-top: 13px;
		margin-left:5px;
		width: 77px;
		height: 18px;
		background-image: url(../img/text.png);
		background-size: 79px auto;
	}
	#sale h2 a,#hot h2 a{
		float:right;
		display:block;
		width:112px;
		height:20px;
		border-radius:10px;
		margin-top:10px;
		margin-right:5px;
		color:#fff;
		background:-webkit-linear-gradient(left,rgb(255,93,112),rgb(255,133,210));
		font-size:12px;
		font-weight:normal;
		text-align:center;
		line-height:20px;
	}
	#sale .s-main{
		height:210px;
		display:flex;
	}
	#sale .s-main .mChild{
		flex:1;
		
		margin:0 2px;
	}
	#sale .s-main figure.left{
		position:relative;
		background:rgb(238,238,238);
	}
	#sale .s-main figure.left figcaption{
		box-sizing:border-box;
		padding:0 5px;
		line-height:22px;
	}
	#sale .s-main figure.left figcaption a{
		color:#222;
	}
	#sale .s-main figure.left p a{
		color:rgb(253,58,81);
		font-size:12px;
	}
	#sale .s-main figure.left p.price span{
		background:rgb(253,58,81);
		border-radius:7px;
		color:#fff;
		font-size:12px;
		height:14px;
		display:inline-block;
		line-height:14px;
		padding: 0 5px;
		margin-left:5px;
	}
	#sale .s-main figure.left .tip{
		display:block;
		position:absolute;
		top:0;
		left:0;
		height:20px;
		width:60px;
		overflow:hidden;
	}
	#sale .s-main figure.left .tip span{
		width:40px;
		height:20px;
		background:rgb(253,58,81);
		text-align:center;
		color:#fff;
		font-size:12px;
		line-height:20px;
		display:block;
	}
	#sale .s-main figure.left .tip i{
		position:absolute;
		border-top:20px solid transparent;
		border-left:15px solid rgb(253,58,81);
		border-right:15px solid transparent;
		border-bottom:20px solid transparent;
		width:0;
		height:0;
		top:-20px;
		left:40px;
	}
	#sale .s-main .mChild.right li{
		height:50%;
		box-sizing:border-box;
		display:flex;
	}
	#sale .s-main .mChild.right li:nth-child(1){
		padding-bottom:3px;
	}
	#sale .s-main .mChild.right li:nth-child(1) a{
		width:100%;
		background-image:url(../img/sale/2.png);
		background-position:100% 100%;
		background-repeat:no-repeat;
		background-size:54px 71.6px;
	}
	#sale .s-main .mChild.right li:nth-child(1) a span{
		display:block;
		margin-left:10px;
		margin-top:5px;
	}
	#sale .s-main .mChild.right li:nth-child(1) a .s1{
		color:#fd3a51;
		font-weight:bold;
	}
	#sale .s-main .mChild.right li:nth-child(1) a .s2{
		color:#000;
		font-size:12px;
	}
	#sale .s-main .mChild.right li:nth-child(2) a{
		flex:1;
	}
	#sale .s-main .mChild.right li:nth-child(2) a:nth-child(1){
		margin-right:3px;
	}
	#sale .s-main .mChild.right li a{
		height:100%;
		display:block;
		background:rgb(238,238,238);
	}
	#sale .s-main .mChild.right li:nth-child(2) a span{
		display:block;
		text-align:center;
		margin-top:5px;
		font-size:12px;
		color:#000;
	}
	#sale .s-main .mChild.right li:nth-child(2) a i{
		width:50px;
		height:36.5px;
		display:block;
		margin:0 auto;
		background-size:100% 100%;
		margin-top:20px;
	}
	#sale .s-main .mChild.right li:nth-child(2) a:nth-child(1) i{
		background-image:url(../img/sale/3.png);
	}
	#sale .s-main .mChild.right li:nth-child(2) a:nth-child(2) i{
		background-image:url(../img/sale/4.png);
	}

/*hot*/
	#hot{
		height:auto;
	} 
	#hot h2 p{
		background-position: 0px -16px;
	}
	#hot ul{
		display:flex;
	}
	#hot ul li{
		flex:1;
	}
	#hot ul li a{
		display:block;
		width:100%;
	}

/*footer*/
	#footer{
		margin-top:10px;
		position:relative;
		height:50px;
		background:#fff;
	}
	#footer ul{
		display:flex;
		height:100%;
	}
	#footer ul li{
		flex:1;
		height:100%;
	}
	#footer ul li a{
		display:block;
		width:100%;
		height:100%;
	}
	#footer ul li i{
		display:block;
		margin:0 auto;
		width:18px;
		height:18px;
		background-size:104px 326px;
		margin-top:7px;
	}
	#footer ul li span{
		display:block;
		text-align:center;
		font-size:12px;
		color:#000;
		margin-top:2px;
	}
	#footer ul li:nth-child(1) i{
		background-position:-60px -153px;
	}
	#footer ul li:nth-child(2) i{
		background-position:-60px -173px;
	}
	#footer ul li:nth-child(3) i{
		background-position:-60px -308px;
	}